  .section-padding-100 {
         padding-top: -0px;
         padding-bottom: 0px;
       }


        .clients-outer {
    margin-top: 0px;
    padding-bottom: 1rem;
    padding-right: : 0rem;
    text-align: center;
    position: relative;
      opacity: 1;
}

.clients__slide {
    display: block;
    opacity: .55;
    padding: 1.5rem 2.8rem;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    width: 80%;
}

.clients__slide:hover, .clients__slide:focus {
    opacity: 0.1;
}


pre{
    display:none;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded{

    padding-top: 10px;
}

#sponsor{
  padding-left: : 100%;
}